@model IEnumerable<TourBookingSolution.Data.ViewModels.PromotionView>
@using TourBookingSolution.Helper.Core
<div class="section popular flex">
    <div class="container">
        <div class="section-head">
            <h4>Khuyến mãi</h4>
            <div class="underline"></div>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var url = $"/khuyen-mai/{item.Title.ToUrlFormat(true, true)}-{item.ID}.html";
                <div class="content width-50">
                    <div class="content-img">
                        <img src="@item.Avatar" alt="">
                    </div>
                    <div class="text-head">
                        <h3><a href="@url">@item.Title</a></h3>
                    </div>
                </div>
            }
        }

    </div>
</div>
