<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Go Go Tour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
    @Styles.Render("~/Styles/css")
    <link rel="shortcut icon" href="/Content/img/favicon.png">
</head>
<body class="default">

    <!-- Preloading -->
    <!-- navbar top -->
    <div class="navbar-top">
        <div class="side-nav-panel-left">
            <a href="#" data-activates="slide-out-left" class="side-nav-left"><i class="fa fa-bars"></i></a>
        </div>
        <!-- site brand	 -->
        <div class="site-brand">
            <a href="/"><h1>GO GO</h1></a>
        </div>
        <!-- end site brand	 -->
        <div class="side-nav-panel-right">
        </div>
    </div>
    <!-- end navbar top -->
    <!-- side nav left-->
    <div class="side-nav-panel-left">
        <ul id="slide-out-left" class="side-nav side-nav-panel collapsible">
            @Html.Action("HeaderWidget","Member")
            <li class="li-top">
                <a href="/"><i class="fa fa-home"></i>Trang chủ</a>
            </li>
            <li>
                <a href="/tour.html"><i class="fa fa-send"></i>Tours</a>
            </li>
            <li>
                <a href="/tin-tuc.html"><i class="fa fa-newspaper-o"></i>Tin tức</a>
            </li>
            <li>
                <a href="/khuyen-mai.html"><i class="fa fa-gift"></i>Khuyến mãi</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-th-large"></i>Giới thiệu</a>
            </li>
            
        </ul>
    </div>
    <!-- end side nav left-->
    @RenderBody()
    <!-- loader -->
    <div id="fakeLoader"></div>
    <!-- end loader -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="about-us-foot">
                <h6>GO GO TOUR</h6>
            </div>
            <div class="social-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="copyright">
                <span>© 2020 All Right Reserved</span>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Styles/js")
    
</body>
</html>
